	<div class="container page-section">
		    <div class="row">
					<div class="col-sm-12 margin-bottom-30">
						<h2 class="box-header">Our <span>Services</span></h2>
						<p class="description text-center">Best Laundry in Dubai</p>
						
						<!-- <div class="text-center page-margin-top padding-bottom-16">
							<a class="more" href="javascript:void(0)" title="Learn more">Read more</a>
						</div> -->
					</div>
					<div class="col-sm-12">
		    		<div class="row">
							<div class="col-sm-4">
								<div class="services-box fill-bg-1">
									<div class="icon-box">
										<%= image_tag("service-icon/laundry.svg", :class => "svg-icon")%>

										
									</div>
									<h5 class="title">Wash & Dry</h5>
									<p class="paragraph">
										We use Imported Machines and Eco Friendly detergents to take care of your fabric
									</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="services-box fill-bg-2">
									<div class="icon-box">
							<%= image_tag("service-icon/ironing-machine.svg", :class => "svg-icon")%>
		
									</div>
									<h5 class="title">Steam Ironing</h5>
									<p class="paragraph">
										We curve your fabric with Steam Iron to ensure no more wrinkles upon them.
									</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="services-box fill-bg-3">
									<div class="icon-box">
									<%= image_tag("service-icon/no-wash-with-water.svg", :class => "svg-icon")%>
								
									</div>
									<h5 class="title">Dry Cleaning</h5>
									<p class="paragraph">
										We offers best in class dry cleaning service retaining the freshness of your fabric
									</p>
								</div>
							</div>
							
							<div class="col-sm-4">
								<div class="services-box fill-bg-3">
									<div class="icon-box">

					<%= image_tag("service-icon/dress-folding.svg", :class => "svg-icon")%>
													
									</div>
									<h5 class="title">Folding & Starching</h5>
									<p class="paragraph">
										We processes your fabric with hygienic starching to make it stiff and elegant and perferct folding
									</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="services-box fill-bg-2">
									<div class="icon-box">

					<%= image_tag("service-icon/vacuum-cleaner.svg", :class => "svg-icon")%>
										
									</div>
									<h5 class="title">Carpets, Curtains & Sofa</h5>
									<p class="paragraph">
										We use state of the art Machinery that allows surface cleaning application as conveniently as possible and results in quick drying of sofas and carpets without any mess
									</p>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="services-box fill-bg-1">
									<div class="icon-box">
					<%= image_tag("service-icon/free-shipping.svg", :class => "svg-icon")%>

									</div>
									<h5 class="title">Free Pick & Delivery</h5>
									<p class="paragraph">
										We offer free pick-up and delivery service with options for customers to pay at their doorstep
									</p>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

