

       
            <div class="parallax flow" style="background-image: url( <%= image_path "flow-bg.jpg" %>);">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 margin-bottom-50 margin-top-60">
                            <h2 class="box-header white">HOW IT WORKS: IN 4 EASY STEPS</h2>
                        </div>

                        <div class="box-step animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0s" >
                            <a href="javascript:void(0)" class="item">
                                <div class="icon">
                       <%= image_tag("flow_01.png")%>

                                </div>
                                <h6 class="description">Step 1</h6>
                                <h4 class="title"><span>Call us or Book Online</span></h4>
                                <h4 class="sub-title">Call us 24x7 to schedule<br>your Pick Up.</h4>
                            </a>
                            <a href="javascript:void(0)" class="item animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0.25s" style="animation-delay: 0.25s;">
                                <div class="icon">
                       <%= image_tag("flow_02.png")%>
                                </div>
                                <h6 class="description">Step 2</h6>
                                <h4 class="title">Wait for our driver</h4>
                                    <h4 class="sub-title">We would pick up your clothes <br>as per the schedule.</h4>
                            </a>
                            <a href="javascript:void(0)" class="item animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0.5s" style="animation-delay: 0.5s;">
                                <div class="icon">
                     <%= image_tag("flow_03.png")%>
                                </div>
                                <h6 class="description">Step 3</h6>
                                <h4 class="title">Confirm your Order & Proceed</h4>
                                    <h4 class="sub-title">We would declare the articles collected & <br>Confirm the service</h4>
                            </a>
                            <a href="javascript:void(0)" class="item animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0.75s" style="animation-delay: 0.75s;">
                                <div class="icon">
                       <%= image_tag("flow_04.png")%>
                                </div>
                                <h6 class="description">Step 4</h6>
                                <h4 class="title">Delivery & Payment</h4>
                                <h4 class="sub-title">Upon delivery we would receive <br>the payment</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>