



    <header id="header-section" class="header-section cd-auto-hide-header clearfix">
      <!-- header-middle - start -->
      <div class="header-middle">
        <div class="container">
          <div class="row">
            <!-- brand-logo-area - start -->
            <div class="col-lg-3 col-sm-3 col-xs-3">
              <div class="brand-logo-area">
                <a href="index.html" class="brand-logo">
              <%= image_tag("11.svg", alt:"Zaiyna Logo") %>
                </a>
              </div>
            </div>
            <!-- brand-logo-area - end -->
            <div class="col-lg-9 col-sm-9 col-xs-9">
              <!-- contact-info - start -->
              <div class="contact-info pull-right">
                <ul class="">
                    <li><a href="mailto:info@zaiyna.ae"><span class="fa fa-envelope"></span>info@zaiyna.ae</a></li>
                      <li><a href="tel:8009274"><span class="fa fa-phone"></span>8009274  (Toll Free)</a></li>
                  </ul>
              </div>
              <!-- contact-info - end -->
            </div>

          </div>
        </div>
      </div>
      <!-- header-middle - end -->
      <!-- header-bottom - start -->
      <div class="header-bottom" id="navbar">
        <div class="container">
          <!-- mainmenu - start -->
          <div class="mainmenu clearfix">
            <nav class="navbar">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
            

                    <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to 'Our Services', service_path %></li>

        <li><%= link_to 'Our Offers', offers_path %></li>
        <li><%= link_to 'Blog', blog_path %></li>
        <li><%= link_to 'Contact Us', contact_path %></li>
                 </ul>
                
                  <div class="top-social pull-right">
                    <a href="https://www.facebook.com/ZaiynaLaundry/" title="" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a href="https://plus.google.com/+ZaiynaAe800WASH" target="_blank" title=""><span class="fa fa-google-plus"></span></a>
                    <a href="https://twitter.com/Laundry_JLT" target="_blank" title=""><span class="fa fa-twitter"></span></a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <!-- mainmenu - end -->
        </div>
      </div>
      <!-- header-bottom - end -->
    </header>
