  <div class="header-bottom" id="navbar">
          <div class="container">
            <!-- mainmenu - start -->
            <div class="mainmenu clearfix">
              <nav class="navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span> 
                    </button>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav">
                

                          <li><%= link_to 'Home', root_path %></li>
                          <li><%= link_to 'About Us', about_path %></li>
                          <li><%= link_to 'Our Services', service_path %></li>

                          <li><%= link_to 'Our Offers', offers_path %></li>
                          <li><%= link_to 'Blog', blog_path %></li>
                          <li><%= link_to 'Contact Us', contact_path %></li>
                     </ul>
                    
                    <div class="top-social pull-right">
                      <a href="https://www.facebook.com/ZaiynaLaundry/" title="" target="_blank"><span class="fa fa-facebook"></span></a>
                      <a href="https://plus.google.com/+ZaiynaAe800WASH" target="_blank" title=""><span class="fa fa-google-plus"></span></a>
                      <a href="https://twitter.com/Laundry_JLT" target="_blank" title=""><span class="fa fa-twitter"></span></a>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <!-- mainmenu - end -->
          </div>
        </div>
       