
      <div class="blog-page-area sec-spacer">
          <div class="container">

              <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                  <h2 class="box-header">Our <span>Blog</span></h2>
                </div>
              </div>
             
              
              <div class="blog-box">
                <div class="blog-inner no-margin">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-images">
                            <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i><%= image_tag("blogpage/1.jpg") %></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-content">
                            <h4><a href="blog-details.html">Dry Cleaning at Dubai</a></h4>
                            <div class="date">
                                <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                            </div>
                            <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            <a class="more" href="blog-details.html">Read More</a>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
              <!-- .blog-inner end -->
              <div class="blog-box">
                <div class="blog-inner no-margin">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-images">
                            <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i><%= image_tag("blogpage/2.jpg") %> </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-content">
                            <h4><a href="blog-details.html">Curtains, Carpets, Bed sheets & Blankets</a></h4>
                            <div class="date">
                                <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                            </div>
                            <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            <a class="more" href="blog-details.html">Read More</a>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
              <!-- .blog-inner end -->
              <div class="blog-box">
                <div class="blog-inner no-margin">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-images">
                            <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <%= image_tag("blogpage/3.jpg") %></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-content">
                            <h4><a href="blog-details.html">Starching & Folding</a></h4>
                            <div class="date">
                                <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                            </div>
                            <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            <a class="more" href="blog-details.html">Read More</a>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
              <!-- .blog-inner end -->
              <div class="blog-box">
                <div class="blog-inner no-margin">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-images">
                            <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <%= image_tag("blogpage/4.jpg") %></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-content">
                            <h4><a href="blog-details.html">More than just a Laundry</a></h4>
                            <div class="date">
                                <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                            </div>
                            <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            <a class="more" href="blog-details.html">Read More</a>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
              <!-- .blog-inner end -->
              <div class="blog-box">
                <div class="blog-inner no-margin">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-images">
                            <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <%= image_tag("blogpage/5.jpg") %></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="blog-content">
                            <h4><a href="blog-details.html">Commitment to Quality</a></h4>
                            <div class="date">
                                <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                            </div>
                            <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            <a class="more" href="blog-details.html">Read More</a>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
              <!-- .blog-inner end -->



              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <nav aria-label="Page navigation example">
                          <ul class="pagination">
                              <li class="page-item disabled"><a class="page-link fa fa-angle-left" href="javascript:void(0)" tabindex="-1"></a></li>
                              <li class="page-item"><a class="page-link active" href="javascript:void(0)">1</a></li>
                              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                              <li class="page-item"><a class="page-link dotted" href="javascript:void(0)">...</a></li>
                              <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                              <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                              <li class="page-item"><a class="page-link fa fa-angle-right" href="javascript:void(0)"></a></li>
                          </ul>
                      </nav><!-- .navigation end -->
                  </div>
              </div>
        


          </div>
      </div>

