  <div class="single-blog-details sec-spacer">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="single-image">
                      <%= image_tag("blogpage/1-big.jpg", :class => "img-responsive")%>

              </div><!-- .single-image End -->
              <h2 class="top-title">Lorem Ipsum is simply <span>dummy text</span></h2>

              <p class="paragraph">Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the try’s stasn ndard dummy text ever since the 1500s, when an unknown printer took a galley of it to make. Lorem Ipsum is the simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus try’s standard they dummy text ever since the 1500s, when an unknown printer took a galley of type and scram bled it to make a type specimen book.</p>
              <blockquote>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus try’s standard.
              </blockquote>
              <p class="paragraph">Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever since the 1500s. </p> 
              <p class="paragraph">Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever since the 1500s, when an unknown printer took a galley of it to make. Lorem Ipsum is the simply dummy text.</p>
              <div class="share-section">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 life-style">
                    
                    <span class="date">
                      <i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017 
                    </span>
                    <span class="cat">
                      <a href="javascript:void(0)"><i class="fa fa-folder-o" aria-hidden="true"></i> Life Style </a>
                    </span>
                  </div>
                  <div class="col-lg-6 col-md--12">
                    <ul class="share-link1">
                      <li><a href="javascript:void(0)"> Tags:</a></li>
                      <li><a href="javascript:void(0)"> WASH & DRY</a></li>
                      <li><a href="javascript:void(0)"> FREE DELIVERY</a></li>
                    </ul>
                  </div>
                </div>
              </div><!-- .share-section End -->

              <div class="share-section2">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <span> You Can Share It : </span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <ul class="share-link">
                      <li><a href="javascript:void(0)"> <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-google" aria-hidden="true"></i> Google</a></li>
                    </ul>
                  </div>
                </div>
              </div><!-- .share-section2 End -->

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ul class="next-pre-section">
                    <li class="left-arrow"><a href="javascript:void(0)"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Post</a></li>
                    <li class="right-arrow"><a href="javascript:void(0)">Next Post <i class="fa fa-angle-right" aria-hidden="true"></i> </a></li>
                  </ul><!-- .next-pre-section End -->
                </div>
              </div>    
              

            
          <div class="author-comment">
            <h3 class="title-bg">Recent Comments</h3>
            <ul>
              <li>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="image-comments">
                      <%= image_tag("blogpage/comment.png", alt:"Blog Details photo") %> 
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <span class="reply"> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                    <div class="dsc-comments">
                      <h4>Thesera Minton</h4>              
                      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do they eiusmod tempor incidi dunt ut labore et dolore magna aliquat enim ad minim veniam ad minim veniam.</p>
                      <a href="javascript:void(0)"> Reply</a>
                    </div>    
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="image-comments">
                       <%= image_tag("blogpage/comment.png", alt:"Blog Details photo") %> 
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <span class="reply"> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                    <div class="dsc-comments">
                      <h4>Thesera Minton</h4>      
                      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do they eiusmod tempor.</p>
                      <a href="javascript:void(0)"> Reply</a>
                    </div>    
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="image-comments">
                       <%= image_tag("blogpage/comment.png", alt:"Blog single photo") %> 
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <span class="reply"><span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                    <div class="dsc-comments">
                      <h4>Thesera Minton</h4>                                            
                      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do they eiusmod tempor incidi dunt ut labore et dolore magna aliquat enim ad minim veniam ad minim veniam.</p>
                      <a href="javascript:void(0)"> Reply</a>
                    </div>    
                  </div>
                </div>
              </li>
            </ul>
          </div><!-- .author-comment End --> 

              <div class="leave-comments-area">
                    <form>
                      <fieldset>
                          <h4 class="title-bg">Leave Comments</h4>   
                          <div class="row">                       
                              <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                      <label>Fast Name*</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                      <label>Last Name*</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                      <label>Email*</label>
                                      <input type="email" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                      <label>Website</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="row"> 
                              <div class="col-md-12 col-sm-12">    
                                  <div class="form-group">
                                      <label>Your comment here...</label>
                                      <textarea cols="40" rows="10" class="textarea form-control"></textarea>
                                  </div>
                              </div>
                              <div class="col-md-12 col-sm-12">         
                                  <div class="form-group mb-0">
                                      <button class="more" type="submit">Post Comment</button>
                                  </div>
                              </div>
                          </div>    
                      </fieldset>
                   </form>
              </div><!-- .leave-comments-area end -->                                 
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="search-box">
                        <h3 class="title">Search</h3>
                        <div class="box-search">
                            <input class="form-control" placeholder="Search Here ..." name="srch-term" id="srch-term" type="text">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div><!-- .search-box end -->
                    <div class="cate-box">
                        <h3 class="title">CATEGORIES</h3>
                        <ul>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i><a href="javascript:void(0)">
                                  WASH & DRY</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i><a href="javascript:void(0)">
                                 STEAM IRONING</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i><a href="javascript:void(0)">
                                  DRY CLEANING</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i><a href="javascript:void(0)"> FOLDING & STARCHING</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i><a href="javascript:void(0)">
                                 CARPETS, CURTAINS & SOFA</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i><a href="javascript:void(0)">
                                 FREE PICK & DELIVERY</a>
                            </li>
                        </ul>
                    </div><!-- .cate-box end -->

                    <div class="latest-post">
                        <h3 class="title">RECENT POSTS</h3>
                        <div class="post-item">
                          <div class="post-img">
                              <a href="blog-details.html">
                                <%= image_tag("blogpage/1.jpg", :class => "img-responsive")%>

                                 </a>
                          </div>
                          <div class="post-desc">
                              <h4><a href="blog-details.html">Raken develops reporting The software</a></h4>
                          </div>
                        </div><!-- .post-item end -->
                        <div class="post-item">
                            <div class="post-img">
                                <a href="blog-details.html">
                                <%= image_tag("blogpage/2.jpg", :class => "img-responsive")%>
                                </a>
                            </div>
                            <div class="post-desc">
                                <h4><a href="blog-details.html">Raken develops reporting The software</a></h4>
                            </div>
                        </div><!-- .post-item end -->
                        <div class="post-item">
                            <div class="post-img">
                                <a href="blog-details.html">
                                <%= image_tag("blogpage/3.jpg", :class => "img-responsive")%>
                                </a>
                            </div>
                            <div class="post-desc">
                                <h4><a href="blog-details.html">Raken develops reporting The software</a></h4>
                            </div>
                        </div><!-- .post-item end --> 
                    </div>
                    <div class="latest-post">
                      <h3 class="title">Filer Date</h3>
                      <div class="treeview"></div>
                    </div>
                </div><!-- .sidebar-area end --> 
            </div>             
          </div>
        </div>
      </div>
