<section>
    <div class="container-fluid no-padding small_device_section">
      <!-- Slider Revolution Start -->
      <div class="rev_slider_wrapper device_slider_content">
        <div class="rev_slider" data-version="5.0">
          <ul>
            <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="<%= image_tag("banner/banner.jpg") %>" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">


              <img src="<%= image_tag("banner/banner.jpg") %>"   alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>

              <div class="tp-caption tp-resizeme text-uppercase text-white bg-theme-colored font-raleway pl-30 pr-30  slider-main-title"
                id="rs-2-layer-1"

                data-x="['center']"
                data-hoffset="['0']"
                data-y="['middle']"
                data-voffset="['-50']"
                data-fontsize="['48']"
                data-lineheight="['70']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;s:500"
                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"
                style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">Laundry & Dry Cleaning Service
              </div>
              <div class="tp-caption tp-resizeme text-white-f2 text-center small-text-banner slider-desc small_device_section" 
                id="rs-1-layer-3"
                data-x="['center']"
                data-hoffset="['0']"
                data-y="['middle']"
                data-voffset="['0']"
                data-fontsize="['14','16',20']"
                data-lineheight="['25']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;s:500"
                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1400" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"
                style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:600;">Instant Pick up, <span class="re-brake">Free Delivery Call us now on 800-WASH</span>
              </div>
              <div class="tp-caption tp-resizeme text-white-f2 text-center small-text-banner slider-desc" 
                id="rs-1-layer-3"
                data-x="['center']"
                data-hoffset="['0']"
                data-y="['middle']"
                data-voffset="['60']"
                data-fontsize="['14','16',20']"
                data-lineheight="['25']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;s:500"
                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1400" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"
                style="z-index: 5; white-space: nowrap; letter-spacing:1px; font-weight: 800;">
                <a class="more second-btn margin-right-15" href="tel:8009274">Call Us - 800 9274</a>  
                <!-- <a class="more second-btn margin-right-15" href="tel:8009274">Call Us - 052 135 7033</a>   -->
                <a style="font-weight: 800; background-color: red; color: #fdfdfd;" class="more second-btn" href="https://api.whatsapp.com/send?phone=971521357033&amp;text=" target="_blank" >WhatsApp</a>
              </div>
            </li>

            <!-- SLIDE 3 -->
            <li data-index="rs-4" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="<%= image_tag("banner/banner1.jpg") %>" data-rotate="0" data-saveperformance="off" data-title="Slide 4" data-description="">
              <!-- MAIN IMAGE -->
              <img src="<%= image_path('banner/banner1.jpg') %>"   alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
          
              <div class="tp-caption tp-resizeme text-uppercase text-white bg-theme-colored font-raleway pl-30 pr-30  slider-main-title"
                id="rs-3-layer-1"

                data-x="['center']"
                data-hoffset="['0']"
                data-y="['middle']"
                data-voffset="['-50']"
                data-fontsize="['48']"
                data-lineheight="['70']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;s:500"
                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"
                style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">Alterations, Curtains & Carpets
              </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption tp-resizeme text-white-f2 text-center small-text-banner slider-desc small_device_section" 
                id="rs-1-layer-3"
                data-x="['center']"
                data-hoffset="['0']"
                data-y="['middle']"
                data-voffset="['0']"
                data-fontsize="['14','16',20']"
                data-lineheight="['25']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;s:500"
                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1400" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"
                style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:600;">Schedule pickup Online in Dubai.<span  class="re-brake">JLT, JBR, Marina, Greens, Meadows, Springs.</span> 
              </div>
              <div class="tp-caption tp-resizeme text-white-f2 text-center small-text-banner slider-desc" 
                id="rs-1-layer-3"
                data-x="['center']"
                data-hoffset="['0']"
                data-y="['middle']"
                data-voffset="['60']"
                data-fontsize="['14','16',20']"
                data-lineheight="['25']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;s:500"
                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1400" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"
                style="z-index: 5; white-space: nowrap; letter-spacing:1px; font-weight: 800;">
                <a class="more second-btn margin-right-15" href="tel:8009274">Call Us - 800 9274</a>
                <!-- <a class="more second-btn margin-right-15" href="tel:8009274">Call Us - 052 135 7033</a> -->
                <a style="font-weight: 800; background-color: red; color: #fdfdfd;" class="more second-btn margin-right-10" href="https://api.whatsapp.com/send?phone=971521357033&amp;text=" target="_blank" >WhatsApp</a>
              </div>
            </li>

          </ul>
        </div>
        <!-- end .rev_slider -->
      </div>
      

      <div class="mobile_slider_content hide" style="text-align: center;">
          <img src="<%= image_tag("banner/banner.jpg") %>"   alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
          <div style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px; font-size: 33px;
  color: #ada5a5;" >Laundry & Dry Cleaning Service</div>
          <div><a class="more second-btn" href="tel:8009274">Call Us - 800 9274</a></div> <br>
          <!-- <div><a class="more second-btn" href="tel:8009274">Call Us - 052 135 7033</a></div> <br> -->
          <div><a class="more second-btn" href="tel:8009274">Chat With Us</a></div>
          <!-- <div><a class="more second-btn" href="tel:8009274">hat With Us</a></div> -->

      </div>

    </div>
</section>
<div class="container page-section">
        <div class="row">
                <div class="col-sm-12 col-md-6">
                         <%= image_tag("123.jpg", :class => "img-responsive full-width")%>

                        <!-- <img src="assets/images/2.jpg" alt="img"  class="img-responsive full-width margin-top-20"> -->
                </div>
                <!-- <div class="col-sm-6 col-md-3 padding-left-0">
                    <img src="assets/images/3.jpg" alt="img"  class="img-responsive full-width">
                </div> -->
                <div class="col-md-6 col-sm-12 res-mt-30">
                    <h2 class="box-header">ABOUT <span>Zaiyna Laundry</span></h2>
                    <p class="description text-center">Best Laundry in Dubai</p>
                    <p class="paragraph text-center padding-0 mtb-25 padding-left-right-35">Founded in 1995 Founded with a vision to be the Signature Laundry Services brand in the region, we strive to present our customers with most Outstanding form of satisfaction when it comes to our services from dry cleaning to steam pressing. We ensure the promptness and punctuality of our pickup and delivery service. While focusing on Quality, Customer Satisfaction and Innovation, we also guarantee the Best Price in town. Our laundry service will save you time and money</p>
                    <div class="text-center page-margin-top padding-bottom-16">
                        <a class="more" href="about-us.html" title="Learn more">Read more</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="offer-discount section-padding background" data-overlay-dark="2" data-background="assets/images/banner/banner.jpg" data-stellar-background-ratio="0.5" style="background-image: url('assets/images/banner/banner.jpg');background-position: -233px -60px;background-size: 1380px;">
                <div class="half-sold"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 z-index-9">
                            <h1 class="discount-value">30%</h1>
                            <h3 class="discount-dis">discount on your <br>First Order!</h3>
                        </div>
                        <div class="col-sm-12 col-md-6 z-index-9">

                            <h2 class="discount-call">
                                Call us now on<br>
                                <span>800 WASH(9274)</span>
                            </h2>

                            <div class="text-center page-margin-top margin-top-30">
                                <a class="more second-btn margin-right-15" href="tel:8009274">Call Us</a>
                                <a class="more second-btn ScrollEffect" href="index.html#Book-Online" >Book Online</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>



       <div class="container page-section">
        <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                    <h2 class="box-header">Our <span>Services</span></h2>
                    <p class="description text-center">Best Laundry in Dubai</p>
                    
                    <!-- <div class="text-center page-margin-top padding-bottom-16">
                        <a class="more" href="javascript:void(0)" title="Learn more">Read more</a>
                    </div> -->
                </div>
                <div class="col-sm-12">
                <div class="row">
                        <div class="col-sm-4">
                            <div class="services-box fill-bg-1">
                                <div class="icon-box">
                                    <%= image_tag("service-icon/laundry.svg", :class => "svg-icon")%>

                                    
                                </div>
                                <h5 class="title">Wash & Dry</h5>
                                <p class="paragraph">
                                    We use Imported Machines and Eco Friendly detergents to take care of your fabric
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="services-box fill-bg-2">
                                <div class="icon-box">
                        <%= image_tag("service-icon/ironing-machine.svg", :class => "svg-icon")%>
    
                                </div>
                                <h5 class="title">Steam Ironing</h5>
                                <p class="paragraph">
                                    We curve your fabric with Steam Iron to ensure no more wrinkles upon them.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="services-box fill-bg-3">
                                <div class="icon-box">
                                <%= image_tag("service-icon/no-wash-with-water.svg", :class => "svg-icon")%>
                            
                                </div>
                                <h5 class="title">Dry Cleaning</h5>
                                <p class="paragraph">
                                    We offers best in class dry cleaning service retaining the freshness of your fabric
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="services-box fill-bg-3">
                                <div class="icon-box">

                <%= image_tag("service-icon/dress-folding.svg", :class => "svg-icon")%>
                                                
                                </div>
                                <h5 class="title">Folding & Starching</h5>
                                <p class="paragraph">
                                    We processes your fabric with hygienic starching to make it stiff and elegant and perferct folding
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="services-box fill-bg-2">
                                <div class="icon-box">

                <%= image_tag("service-icon/vacuum-cleaner.svg", :class => "svg-icon")%>
                                    
                                </div>
                                <h5 class="title">Carpets, Curtains & Sofa</h5>
                                <p class="paragraph">
                                    We use state of the art Machinery that allows surface cleaning application as conveniently as possible and results in quick drying of sofas and carpets without any mess
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="services-box fill-bg-1">
                                <div class="icon-box">
                <%= image_tag("service-icon/free-shipping.svg", :class => "svg-icon")%>

                                </div>
                                <h5 class="title">Free Pick & Delivery</h5>
                                <p class="paragraph">
                                    We offer free pick-up and delivery service with options for customers to pay at their doorstep
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    <div  class="what-we-do-section ce-feature-box-22 section-padding background"  data-background="assets/images/what-we-do_bg.jpg" style="background-image: url(<%= image_path "what-we-do_bg.jpg" %>);background-position: right;background-size: 754px;">
        <!-- <div class="half-sold"></div> -->
        <div class="container">
          <div class="row">
            <div class="col-md-7 z-index-9">
              <h5 class="title font-weight-5 margin-top-0">What we do ?</h5>
              <ul class="list-box">
                <li>Washing </li>
                <li>Ironing </li>
                <li>Folding </li>
                <li>Dry Cleaning </li>
                <li>Starching </li>
                <li>Alteration </li>
                <li>Pick & Delivery</li>
              </ul>
              <p class="content">We pick up and deliver your Laundry & Dry Cleaning to your doorstep. The service is centered around your convenience and the highest quality care for your all your laundry items</p>

              <!-- <h5 class="title font-weight-5">Total Convenience, Affordable Price</h5>
              <p class="content">Schedule your Pick up Online, Delivered to your doorstep. Cashless payments.</p>

              <h5 class="title font-weight-5">Because We Care</h5>
              <p class="content">We keep your clothes alive. Because we care for your valueable clothes ! We use fresh, safe, biodegradable products to provide delicate treatments to your fabric. The fabric & clothes come free of any harmful chemical, unplesant odors and are safe for youm your family and the environment.</p> -->


            </div>

          </div>
        </div>
      </div>

<!-- 
        <section class="section-what-we-do">
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="ce-feature-box-22">
            <div>
                <img src="assets/images/what-we-do.jpg" alt="img" class="img-responsive  full-width">
            </div>
            <div class="clearfix"></div>
              <h5 class="title font-weight-5">What we do ?</h5>
              <ul class="list-box">
                <li>Washing </li>
                <li>Ironing </li>
                <li>Folding </li>
                <li>Dry Cleaning </li>
                <li>Starching </li>
                <li>Alteration </li>
                <li>Pick & Delivery</li>
              </ul>
              <p class="content">We pick up and deliver your Laundry & Dry Cleaning to your doorstep. The service is centered around your convenience and the highest quality care for your all your laundry items</p>
              
          </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ce-feature-box-22 bg2">
                <img src="assets/images/price.jpg" alt="img" class="img-responsive  full-width">
              <h5 class="title font-weight-5">Total Convenience, Affordable Price</h5>
              <p class="content">Schedule your Pick up Online, Delivered to your doorstep. Cashless payments.</p>
              
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ce-feature-box-22 bg3">
                <img src="assets/images/care.jpg" alt="img" class="img-responsive  full-width">
              <h5 class="title font-weight-5">Because We Care</h5>
              <p class="content">We keep your clothes alive. Because we care for your valueable clothes ! We use fresh, safe, biodegradable products to provide delicate treatments to your fabric. The fabric & clothes come free of any harmful chemical, unplesant odors and are safe for youm your family and the environment.</p>
              
            </div>
          </div>
          
          
          
        </div>
      </div>
  </section> -->


        <div class="parallax flow" style="background-image: url( <%= image_path "flow-bg.jpg" %>);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 margin-bottom-50 margin-top-60">
                        <h2 class="box-header white">HOW IT WORKS: IN 4 EASY STEPS</h2>
                    </div>

                    <div class="box-step animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0s" >
                        <a href="javascript:void(0)" class="item">
                            <div class="icon">
                   <%= image_tag("flow_01.png")%>

                            </div>
                            <h6 class="description">Step 1</h6>
                            <h4 class="title"><span>Call us or Book Online</span></h4>
                            <h4 class="sub-title">Call us 24x7 to schedule<br>your Pick Up.</h4>
                        </a>
                        <a href="javascript:void(0)" class="item animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0.25s" style="animation-delay: 0.25s;">
                            <div class="icon">
                   <%= image_tag("flow_02.png")%>
                            </div>
                            <h6 class="description">Step 2</h6>
                            <h4 class="title">Wait for our driver</h4>
                                <h4 class="sub-title">We would pick up your clothes <br>as per the schedule.</h4>
                        </a>
                        <a href="javascript:void(0)" class="item animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0.5s" style="animation-delay: 0.5s;">
                            <div class="icon">
                 <%= image_tag("flow_03.png")%>
                            </div>
                            <h6 class="description">Step 3</h6>
                            <h4 class="title">Confirm your Order & Proceed</h4>
                                <h4 class="sub-title">We would declare the articles collected & <br>Confirm the service</h4>
                        </a>
                        <a href="javascript:void(0)" class="item animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0.75s" style="animation-delay: 0.75s;">
                            <div class="icon">
                   <%= image_tag("flow_04.png")%>
                            </div>
                            <h6 class="description">Step 4</h6>
                            <h4 class="title">Delivery & Payment</h4>
                            <h4 class="sub-title">Upon delivery we would receive <br>the payment</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <section>
        <div class="container margin-top-100 margin-bottom-100">
            <div class="row">
        <div class="col-sm-3">
     <%= image_tag("service-location.jpg", :class => "img-responsive full-width service-loc-img")%>

        </div>
                <div class="col-sm-9">
                    <h2 class="box-header text-left">Best Laundry in <span>Dubai</span></h2>
                    <p class="paragraph text-left margin-top-30 ">
                    The things we take for granted may carry some values and thus help define our lifestyle. So is with the clothes we wear. No matter how expensive or out-price does it get but when it comes to clothes, a standardized care is to be given in order to keep them in use for long. We, at Zaiyna, understand this fact to the core and thus are offering the best of the laundry and dry-cleaning services in Dubai.<br>
                        We are one of the Best Laundry in Dubai, as we have good clients who are local residents, Hotels, and some industrial clients as well; we even ensure the promptness and punctuality of our pickup and delivery service thereby focusing on Quality of our work & Customer Satisfaction, we even guarantee our customers the best price in town which makes us Best Laundry in Dubai.<br>
                        Customers’ satisfaction has always been the goal at Zaiyna and we have been starving to deliver services right up to customers’ expectations, no matter whether it’s just the laundry and dry-cleaning or steam pressing. People going to the laundries has been the common scenario for a while until other things came up in their lives and got stuck with them that it got too hard for them to go to laundry that regular. Thus, Zaiyna took the responsibility and set this online platform up to offer the laundry services to the common people with ease.<br>
                        Customer satisfaction an innovation being the base of the foundation of Zaiyna, we offer the premium pickup and delivery services at the most competitive price one would ever find in the town. Being an online platform Zaiyna not just saves your efforts but time as well and gets you the laundered clothes right at your doorsteps within the deadline. So when you pick us for your laundry services, you can be as less worried about getting it in time as well as in the best of possible quality.<br>
                        We are equipped with state of the art machinery and even have the expert staff to operate it better. The procedure of laundering the clothes at Zaiyna is unique in itself and every garment is specifically taken care of in every aspect. No foreign object would ever get mixed with the garment and the detergents used are strictly as per the fabrics’ requirements. So when you get in touch with us for your garment cleaning services, you can expect nothing but the perfectly cleaned and crisp garment back to you.
                    </p>
                    <div class="text-left page-margin-top margin-top-30">
                        <a class="more second-btn margin-right-15 call-us-btn" href="tel:8009274">Call Us</a>
                        <a class="more second-btn ScrollEffect" href="index.html#Book-Online">Book Online</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <section class="sm-call-part">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h2>Total Convenience, Affordable Price</h2>
                  <div>
                    <p class="pull-left">
                      Schedule your Pick up Online, Delivered to your doorstep. Cashless payments.
                    </p>
                    <a class="more second-btn pull-right ScrollEffect" href="index.html#Book-Online">Book Online</a>
                  </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12 margin-top-70 margin-bottom-70">
                    <h2 class="box-header">Service <span>Locations</span></h2>
                    <p class="paragraph text-center margin-top-20">
                    <b>Zaiyna Laundry & Dry Cleaning provides Dry Cleaning & Laundry in JLT (Jumeirah Lakes Tower) and following neighbourhood:</b><br>
                    No matter in which area you live in, when you need laundry and dry-cleaning services, nothing would fit the choice as better than Zaiyna Laundry & Dry Cleaning. We can pick up the garments at the time requested and get it cleaned and delivered right back to your doorsteps within the deadline.<br>
                    So why to put efforts in garment cleaning when Zaiyna the Best Laundry in Dubai can get it done for you! Just give us a call at 800-WASH or fill the booking form and our experts will get in touch with you right away.
                    </p>

                    <div class="services-location margin-top-20 ">
                        <table class="table table-hover table-striped">
                            <tbody>
                              <tr>
                                <td>Jumeirah Lake Towers (JLT)</td>
                                <td>Jebel Ali Village</td>
                                <td>Dubai Investment Park</td>
                              </tr>
                              <tr>
                                <td>Discovery Gardens</td>
                                        <td>The Gardens</td>
                                <td>Jumeirah Village Circle(JVC)</td>
                              </tr>
                              <tr>
                                <td>Dubai Marina</td>
                                <td>Jumeirah Beach Residance,</td>
                                <td>Jumeirah Village Triangle (JVT)</td>
                              </tr>
                              <tr>
                                <td>Jumeirah Park</td>
                                <td>Jumeirah Island</td>
                                <td>Barsha Heights</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Dubai Sport City</td>
                                <td></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="testimonial">
        <div class="container" >
        <div class="row">
          <div class="col-md-12">
            <p class="text-center text-uppercase">Testimonials</p>
            <h2 class="box-header">WHAT OUR <span>CLIENTS SAY</span></h2>
          </div>
        </div>

                <!-- <div class="row">
                    <div class="col-sm-12 news_control_mar carousel-control-hide">
                        <a data-slide="prev" href="#testimonials" class="carousel-res-button pull-left">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                        </a>
                        <a data-slide="next" href="#testimonials" class="carousel-res-button pull-right">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div> -->
        <div class='row margin-top-20'>
          <!-- <div class='col-md-1 res-hide'>
            <div class="controls">
              <a data-slide="prev" href="#testimonials" class="btn testimonial-btn prev-testimonial"><i class="fa fa-angle-left"></i></a>
            </div>
          </div> -->
          <div class='col-md-12 col-sm-12'>
            <div id="Testimonials" class="owl-carousel owl-theme">
              <!-- <ol class="carousel-indicators">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials" data-slide-to="1"></li>
                <li data-target="#testimonials" data-slide-to="2"></li>
              </ol> -->
                <div class="item active">
                  <div class="col-sm-12">
                    <div class="testimonial-data">
                      <h3 class="testimonial-title">Muhammed Anver</h3>
                      <h5 class="testimonial-designation">Regional Manager</h5>
                      <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="col-sm-12">
                    <div class="testimonial-data">
                      <h3 class="testimonial-title">Abdul Navas</h3>
                      <h5 class="testimonial-designation">Manager</h5>
                      <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="col-sm-12">
                    <div class="testimonial-data">
                      <h3 class="testimonial-title">Imran Usaf</h3>
                      <h5 class="testimonial-designation">Sales Manager</h5>
                      <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="col-sm-12">
                    <div class="testimonial-data">
                      <h3 class="testimonial-title">Ashraf Al Ansaf</h3>
                      <h5 class="testimonial-designation">Operation Manager</h5>
                      <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                  </div>
                </div>
                
            </div>
          </div>
          <!-- <div class='col-md-1 res-hide'>
            <div class="controls">
              <a data-slide="next" href="#testimonials" class="btn testimonial-btn next-testimonial"><i class="fa fa-angle-right"></i></a>
            </div>
          </div> -->
        </div>
      </div>
    </section>



      <div class="booknow-page-section padding-top-60 padding-bottom-100" id="Book-Online">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="box-header">Book <span>Online</span></h2>
              </div>
            </div>

            <div class="row margin-top-40">

              <div class="col-lg-12 col-md-12">
                <div class="contact-form">
                  
                  <form id="contactForm" method="POST" action="" class="contact-form">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Name" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email" class="email form-control" placeholder="Email" required="">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Phone / Mobile *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <!-- <input type="text" class="form-control" placeholder="Area *" required=""> -->
                              <select class="form-control">
                                <option>Jumeirah Lake Towers (JLT)</option>
                                <option>Jebel Ali Village</option>
                                <option>Dubai Investment Park</option>
                                <option>Discovery Gardens</option>
                                <option>The Gardens</option>
                                <option>Jumeirah Village Circle(JVC)</option>
                                <option>Dubai Marina</option>
                                <option>Jumeirah Beach Residance,</option>
                                <option>Jumeirah Village Triangle (JVT)</option>
                                <option>Jumeirah Park</option>
                                <option>Jumeirah Island</option>
                                <option>Barsha Heights</option>
                                <option>Dubai Sport City</option>
                              </select>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Building Name *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Apartment Number *" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Date *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Time">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Landmark">
                          </div>


                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <textarea rows="7" placeholder="Special Notice" class="form-control"></textarea>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                              <button type="submit" id="submit" class="contact-btn">Submit</button>
                              <div class="clearfix"></div>
                          </div>   
                      </form>

                      
                </div>
              </div>
            </div>

          </div>
      </div>

