 <div class="about-section sec-spacer">
        <div class="container">

            <div class="row">
              <div class="col-sm-12 margin-bottom-30">
                <h2 class="box-header">Our Best <span>Offers</span></h2>
                <p class="description text-center">WASH ● DRY ● PRESS ● FOLD</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="well-offers">
                    <div class="offers-img">
                         <%= image_tag("offers/dry-cleaning.jpg")%>

                        <span class="top-icon red-color-bg"><%= image_tag("service-icon/no-wash-with-water.svg", :class => "svg-icon")%></span>
                        <div class="image-layer"></div>
                    </div>
                    <div class="main-offers">
                        <div class="offers-content">
                            <h4>Dry Cleaning</h4>
                            
                            <p class="paragraph text-left Offer-height">Dry cleaning is a very effective cleaning process that can remove stains and dirt from clothing and other fabrics without risking shrinkage or damage. Traditional laundry services, using soap and water, can shrink, damage, or discolor clothing, while dry cleaning just cleans while protecting the clothing. For some fabrics and garments, dry cleaning is the only safe option.While some chemicals used in dry cleaning can be harmful when you are exposed to high levels, the amount that you will be exposed to via your clothing is not nearly high enough to cause any health problems.</p>
                            <a class="offers-btn">Read More</a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="well-offers">
                    <div class="offers-img">
                                               <%= image_tag("offers/laundry.jpg")%>

                        <span class="top-icon green-color-bg"><%= image_tag("service-icon/laundry.svg", :class => "svg-icon")%></span>
                        <div class="image-layer"></div>
                    </div>
                    <div class="main-offers">
                        <div class="offers-content">
                            <h4>Laundry</h4>
                            
                            <p class="paragraph text-left Offer-height">Not everyone has the time or patience to devote to laundry. Zaiyna Laundry & Dry Cleaning provides personalized laundry service that gets your laundry done the way you want it. We will care for your laundry as well or better than you can, and get it back to you, folded or hung and looking great.<br>No more wasting hours of your life on laundry. Take back your life, and allow Zaiyna Laundry & Dry Cleaning to take care of your washing and folding.</p>
                            <a class="offers-btn">Read More</a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="well-offers">
                    <div class="offers-img">

                                               <%= image_tag("offers/blankets.jpg")%>
                        <span class="top-icon yellow-color-bg"><%= image_tag("service-icon/vacuum-cleaner1.svg", :class => "svg-icon")%></span>
                        <div class="image-layer"></div>
                    </div>
                    <div class="main-offers">
                        <div class="offers-content">
                            <h4>Curtains, Carpets, Bed sheets & Blankets</h4>
                            
                            <p class="paragraph text-left Offer-height">No matter the size of the carpet, The Laundry Hub place hard on the dirt and gives it the original look.</p>
                            &nbsp;
                            <!-- <a class="offers-btn">Read More</a> -->
                        </div>
                    </div>
                </div>
              </div>
            <!-- </div>

            <div class="row"> -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="well-offers">
                      <div class="offers-img">
                                          <%= image_tag("offers/folding.jpg")%>

                          <span class="top-icon pink-color-bg"><%= image_tag("service-icon/dress-folding.svg", :class => "svg-icon")%></span>
                          <div class="image-layer"></div>
                      </div>
                      <div class="main-offers">
                          <div class="offers-content">
                              <h4>Starching & Folding</h4>
                              
                              <p class="paragraph text-left Offer-height">We our fabric with hygienic starching to make it stiff and elegant.</p>
                              <!-- <a class="offers-btn">Read More</a> -->
                          </div>
                      </div>
                  </div>
              </div>
            </div>


        </div>
    </div>

    
		
<div class="booknow-page-section padding-top-60 padding-bottom-100">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="box-header">Book <span>Online</span></h2>
              </div>
            </div>

            <div class="row margin-top-40">

              <div class="col-lg-12 col-md-12">
                <div class="contact-form">
                  
                  <form id="contactForm" method="POST" action="" class="contact-form">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Name" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email" class="email form-control" placeholder="Email" required="">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Phone / Mobile *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <!-- <input type="text" class="form-control" placeholder="Area *" required=""> -->
                              <select class="form-control">
                                <option>Jumeirah Lake Towers (JLT)</option>
                                <option>Jebel Ali Village</option>
                                <option>Dubai Investment Park</option>
                                <option>Discovery Gardens</option>
                                <option>The Gardens</option>
                                <option>Jumeirah Village Circle(JVC)</option>
                                <option>Dubai Marina</option>
                                <option>Jumeirah Beach Residance,</option>
                                <option>Jumeirah Village Triangle (JVT)</option>
                                <option>Jumeirah Park</option>
                                <option>Jumeirah Island</option>
                                <option>Barsha Heights</option>
                                <option>Dubai Sport City</option>
                              </select>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Building Name *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Apartment Number *" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Date *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Time">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Landmark">
                          </div>


                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <textarea rows="7" placeholder="Special Notice" class="form-control"></textarea>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                              <button type="submit" id="submit" class="contact-btn">Submit</button>
                              <div class="clearfix"></div>
                          </div>   
                      </form>

                      
                </div>
              </div>
            </div>

          </div>
      </div>


  