    <!DOCTYPE html>
    <html>
                <%= render partial: 'layouts/default/head' %>


      <body>

                <%= render partial: 'layouts/default/header' %>

        <%= yield %>

                    <%= render partial: 'layouts/default/footer' %>


                    <%= render partial: 'layouts/default/scripts' %>


      </body>
    </html>
